.auto-classes
    .section
        .column.one
            p.section-title Класс «Стандарт» (Сhevrolet Lacetti)
            p.section-label Если Вы прежде всего цените оперативность и доступные тарифы, мы будем рады  предложить услугу эконом-такси. Максимально выгодное соотношение  «цена-качество» позволяет компании предоставлять Вам, уважаемые клиенты, самое доступное такси в Киеве с высоким уровнем сервиса.
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
.section
    .column.one
        p.section-title Класс «Бизнес» (Toyota Camry)
        p.section-label Стильные автомобили бизнес класса прекрасно подойдут и для деловых поездок, и для корпоративных выездов. Если положение обязывает выглядеть респектабельно, а финансовые возможности не позволяют компании содержать собственный парк автомобилей представительского класса, услуга бизнес-такси поможет самым лучшим образом выйти из сложившейся ситуации. Оптимальное сочетание комфорта и скорости произведет должное впечатление на Ваших деловых партнеров. 
    .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
.section
    .column.one
        p.section-title Класс «Премиум» (Mercedes S-класс)
        p.section-label Солидное представительное авто – половина успеха в любом деле, вне зависимости от того, какие вершины Вы стремитесь покорить – сердца близких людей или умы деловых партнеров. Автомобиль «VIP» класса из нашего таксопарка не отличается от моделей представительских авто ни фирменной табличкой, ни специальной окраской, что позволяет уверенно позиционировать заказанную машину в качестве собственной. Специально подготовленные водители такси ВИП-класса соответствующим внешним видом и поведением способны легко сыграть роль Вашего личного шофера. Роскошные автомобили подарят Вам незабываемую поездку, позволят вам организовать встречу на высшем уровне, провести переговоры с важным деловым партнером или же подарить праздник себе и близкому человеку!
    .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
