.auto-classes
    .section
        .column.one
            p.section-title Клас «Стандарт» (Сhevrolet Lacetti)
            p.section-label Якщо Ви насамперед цінуєте оперативність та доступні тарифи, ми будемо раді запропонувати послугу економ-таксі. Максимально вигідне співвідношення «ціна-якість» дозволяє компанії надавати Вам, шановні клієнти, найдоступніше таксі в Києві з високим рівнем сервісу.
                <br><br>У цьому сегменті представлені автомобілі середнього класу - це надійні і сучасні моделі автомобілів під керівництвом досвідчених, ввічливих, охайних водіїв, які прекрасно знають місто і здатні в найкоротші терміни доставити Вас в необхідний пункт призначення.
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
.section
    .column.one
        p.section-title Клас «Бізнес» (Toyota Camry)
        p.section-label Стильні автомобілі бізнес класу чудово підійдуть і для ділових поїздок, і для корпоративних виїздів.
            <br><br>Якщо положення зобов'язує виглядати респектабельно, а фінансові можливості не дозволяють компанії утримувати власний парк автомобілів представницького класу, послуга бізнес-таксі допоможе найкращим чином вийти з ситуації, що склалася. Оптимальне поєднання комфорту і швидкості справить належне враження на Ваших ділових партнерів.
    .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
.section
    .column.one
        p.section-title Клас «Преміум» (Mercedes S-класс)
        p.section-label Солідне представницьке авто - половина успіху в будь-якій справі, незалежно від того, які вершини Ви прагнете підкорити - серця близьких людей або уми ділових партнерів.
            <br><br>Автомобіль «VIP» класу з нашого таксопарку не відрізняється від моделей представницьких авто ні фірмової табличкою, ні спеціальної забарвленням, що дозволяє впевнено позиціонувати замовлену машину в якості власної. Спеціально підготовлені водії таксі ВІП-класу відповідним зовнішнім виглядом і поведінкою здатні легко зіграти роль Вашого особистого шофера.
            <br><br>Розкішні автомобілі подарують Вам незабутню поїздку, дозволять вам організувати зустріч на вищому рівні, провести переговори з важливим діловим партнером або ж подарувати свято собі і близькій людині!
    .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
