.auto-classes
    .section
        .column.one
            p.section-title «Standard» (Сhevrolet Lacetti)
            p.section-label If you value the efficiency and affordable price to a greater extend, we are happy to offer “Standard taxi” at your service. Price and quality ratio allows the company to provide you the most affordable taxi in Kiev with the highest level of service.
                <br><br>We offer reliable and advanced cars of the middle class in this segment. We have experienced, polite & neat drivers, who know the city well and are able quickly bring you to the desired destination.
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
.section
    .column.one
        p.section-title “Business class” (Toyota Camry)
        p.section-label Stylish business class cars are perfect for business and corporate trips.
            <br><br>If your social status requires respectable look, and financial capabilities do not allow the company to keep its own fleet, Business taxi service will be the best way out of the situation.
            <br><br>The optimal combination of comfort and speed will make a proper impression on your business partners.
    .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
.section
    .column.one
        p.section-title «Premium class» (Mercedes S-class)
        p.section-label Solid car is a half the battle in any case, regardless of what peaks you aspire to conquer - the heart of loved ones or business partners minds.
            <br><br>Our «Premium» class cars have no taxi plate or special paint, that allows you confidently to position the car as your own. Trained taxi drivers with corresponding appearance and behavior can easily play the role of your personal driver.
            <br><br>Luxury cars will allow you to organize a meeting at the highest level, to negotiate with the important business partner or present a festive mood for yourself and the loved ones!
    .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
