.advantages
    .section
        .column.one
            p.section-title ЧОМУ САМЕ МИ?
            p.section-label Торгова марка "Еталон Таксі» існує на ринку з вересня 2006 року і впродовж 9 років успішно надає послуги з перевезення пасажирів, при цьому постійно вдосконалюючись у сфері обслуговування.
                <br><br>Ми піклуємося про безпеку своїх клієнтів. Тому всі водії, прийняті на роботу, мають водійський стаж від трьох років. Більше того, вони постійно проходять курси з підвищення кваліфікації і відрізняються умінням ввічливо розмовляти з клієнтами.
                <br><br>Компанія «Еталон Таксі» має особистий автопарк і щодня, перед виїздом кожен автомобіль проходить технічний огляд і перевірку на чистоту салону і автомобіля.
                <br><br>Ми працюємо на якість і стежимо за інноваціями, тому «Еталон Таксі» - це не просто послуга таксі. Це стиль пересування з комфортом і вигодою!
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
    .they-trust
        .h1.light ПРЕИМУЩЕСТВА
        .awards__items
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
    .awards
        .h1.light НАГРАДЫ
        .awards__items
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title ПРЕМИЯ
                    br
                    span «ТРАНСПОРТНЫЙ ОЛИМП»
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title  ПОБЕДИТЕЛЬ РЕЙТИНГА
                    br
                    span «ЗОЛОТАЯ ФОРТУНА»
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title
                    a.black-link-underline ГРАН-ПРИ
                        br
                        span «ВЫСШАЯ ПРОБА»