.advantages
    .section
        .column.one
            p.section-title WHY SHOULD YOU CHOOSE US?
            p.section-label "Etalon Taxi" exists since September 2006 on the market. We successfully provide services for passengers for 9 years, thus constantly improving the quality of provided services.
                <br><br>The safety of our passengers is above all. Therefore, all our drivers have driving experience above three years, moreover, they are regularly held training courses.
                <br><br>We have a personal fleet and each time before leaving car passes technical inspection and cleanliness inspection of car interior.
                <br><br>We are working on quality and follow the innovations, so "Etalon Taxi" - is not just a taxi services. It is a style of movement with comfort and benefit!
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
    .they-trust
        .h1.light ПРЕИМУЩЕСТВА
        .awards__items
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
    .awards
        .h1.light НАГРАДЫ
        .awards__items
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title ПРЕМИЯ
                    br
                    span «ТРАНСПОРТНЫЙ ОЛИМП»
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title  ПОБЕДИТЕЛЬ РЕЙТИНГА
                    br
                    span «ЗОЛОТАЯ ФОРТУНА»
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title
                    a.black-link-underline ГРАН-ПРИ
                        br
                        span «ВЫСШАЯ ПРОБА»