.advantages
    .section
        .column.one
            p.section-title !{__('advantagesTitle')}
            p.section-label !{__('advantagesText')}
        .column.two.illustration(style="background-image: url('/images/advantages/img.jpg')")
    .they-trust
        .h1.light ПРЕИМУЩЕСТВА
        .awards__items
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
    .awards
        .h1.light НАГРАДЫ
        .awards__items
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title ПРЕМИЯ
                    br
                    span «ТРАНСПОРТНЫЙ ОЛИМП»
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title  ПОБЕДИТЕЛЬ РЕЙТИНГА
                    br
                    span «ЗОЛОТАЯ ФОРТУНА»
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title
                    a.black-link-underline ГРАН-ПРИ
                        br
                        span «ВЫСШАЯ ПРОБА»