.auto-classes
    .section
        .column.one
            p.section-title Личный водитель
            p.section-label Для делового человека очень важно быть в указанном месте всегда вовремя! Для людей, которые много ездят в личных или рабочих целях, мы предлагаем услугу личного видителя, который будет сопровождать вас целый день и ожидать вас в удобном месте.<br><br>Пользуясь услугами личного водителя, перемещение по городу, частые командировки, деловые встречи, парковка в центре города в будний день - перестает быть проблемой.
        .column.two.illustration(style="background-image: url(/images/services/personal_driver.jpg)")
    .section
        .column.one
            p.section-title Корпоративное такси
            p.section-label Профессиональное решение ваших транспортных задач! Предложение для организаций и компаний, которые не имееют личного автопарка, позволит предприятиям сэкономить на логистике и снять с себя все заботы, связанные с перевозками.<br><br> Подача такси корпоративным клиентам, учитывая практически все пожелания заказчика: класс автомобиля, тип перевозки, предоставление отчетов по маршруту, времени и стоимости услуги, возможность получать данные с GPS-модуля для проверки маршрута и времени пребывания в дороге.
        .column.two.illustration(style="background-image: url(/images/services/corp_taxi.jpg)")
    .section
        .column.one
            p.section-title Авто-няня
            p.section-label Авто-няня - это личный водитель для Вашего ребенка. Мы оказываем компетентную помощь родителям в безопасной перевозке детей, а точнее отвозим и привозим детей по указанному адресу.<br><br> Данная услуга несколько отличается от стандартного заказа такси, так в функции водителя входит не только перевоз, но и передача ребенка в руки ответственному лицу, информирование родителей о том, где находиться ребенок. Личный водитель ребенка встретит его у подьезда/ квартиры и отвезет его в школу, садик или спортивную секцию, а после передаст родителям. Мы бережем Ваших детей также, как и своих собственных, ведь дети – это самое ценное, что у нас есть!
        .column.two.illustration(style="background-image: url(/images/services/avto_nanny.jpg)")
    .section
        .column.one
            p.section-title Микроавтобус
            p.section-label Для обслуживания делегаций, конференций и других корпоративных мероприятий "Эталон Такси" имеет в своем распоряжении микроавтобусы Mercedes, VW, Mitsubishi от 6 до 27 мест. </br></br> Вы можете заказать микроавтобус в нашей компании на любые случаи жизни: свадьба, корпоративные поездки, экскурсии, семейные путешествия и пр.
        .column.two.illustration(style="background-image: url(/images/services/micro_bus.jpg)")
    .section
        .column.one
            p.section-title Курьер
            p.section-label Удобная транспортировка грузов и документов! Оперативность вызова и неизменная пунктуальность наших сотрудников, позволят Вам без задержек доставить ценный груз по Киеву.</br></br>Вы можете положиться на нас в любой ситуации и в доставке любой сложности: транспортировка деловых документов, подарков и иных грузов. Ваша посылка будет доставлена точно по адресу и в кратчайшие сроки.
        .column.two.illustration(style="background-image: url(/images/services/curier.jpg)")
    .section
        .column.one
            p.section-title Эвакуатор
            p.section-label Если ваш автомобиль, в силу разных причин, утратил способность самостоятельно передвигаться, мы своевременно приедем на место поломки и наш специализированный эвакуатор доставит ваш автомобиль из любой точки страны на указаный Вами адрес.</br></br>Вы вызываете эвакуатор - мы заботимся о Вашем автомобиле!
        .column.two.illustration(style="background-image: url(/images/services/evacuator.jpg)")