.auto-classes
    .section
        .column.one
            p.section-title Личный водитель
            p.section-label Для делового человека важно быть в указанном месте всегда вовремя! Для людей, которые много ездят в личных или рабочих целях, мы предлагаем услугу личного видителя, который будет сопровождать Вас целый день и ожидать в удобном месте. Пользуясь услугами личного водителя, перемещение по городу, частые командировки, деловые встречи, парковка в центре города в будний день - перестает быть проблемой.
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
    .section
        .column.one
            p.section-title Особистий водій
            p.section-label Для ділової людини важливо бути в зазначеному місці завжди вчасно! Для людей, які багато їздять в особистих або робочих цілях, ми пропонуємо послугу особистого водія, який буде супроводжувати Вас цілий день і чекати в зручному місці. Користуючись послугами особистого водія, переміщення по місту, відрядження, ділові зустрічі, парковка в центрі міста в будній день - перестає бути проблемою.
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")