.auto-classes
    .section
        .column.one
            p.section-title Personal driver
            p.section-label For the men of affairs it is very important to be always on time! For people who drive around town a lot for personal or business purposes.<br><br>We offer a service of personal driver, who will accompany you all day long and wait for you in a convenient location.  <br><br>Moving around, frequent business trips, business meetings, parking in the center of the city on weekdays - ceases to be a problem, while using the services of a personal driver.
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
    .section
        .column.one
            p.section-title Corporate taxi
            p.section-label Professional solution for your transport issues! <br><br>Profitable offer for organizations and companies that haven’t got personal fleet, will allow businesses to save on logistics and take off all the worries related to transportation.<br><br>Supplying services to corporate clients, we consider almost all customers requirements: Vehicle class, type of transportation, reporting on routes, time & cost of services, the ability to receive data with a GPS-module to check the route and time on the road.
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
    .section
        .column.one
            p.section-title Auto-nanny
            p.section-label Auto-nanny – is a personal driver for your child. We provide competent assistance to parents in the safe transportation of children, rather than bring the children to the specified address.
                <br><br>This service is somewhat different from the standard taxi services, so as a function of the driver is not only transportation, but also the transfer of the child in the hands of the responsible person, informing parents about location, moving and other related information about the child.
                <br><br>Personal child's driver met him at the entrance / apartment and take him to school, kindergarten or sports section, and then returns to parents.
                <br><br>We protect your children as well as our own, because children - is the most valuable thing we have!
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
    .section
        .column.one
            p.section-title Minibus
            p.section-label "Etalon Taxi" has at its disposal minibuses Mercedes, VW and Mitsubishi from 6 to 27 seats for services to delegations, conferences and other corporate events.
                <br><br>You can order a minibus for any occasions: weddings, corporate trips, family travel and so forth.
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
    .section
        .column.one
            p.section-title Courier
            p.section-label Convenient transportation of goods and documents! Quick service and constant punctuality of our staff will allow you to deliver the valuable cargo in Kiev promptly.
                <br><br>You can rely on us in all situations and in the delivery of any complication: transporting business documents, gifts and other goods. Your parcel will be delivered to the right place in the shortest possible time.
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
    .section
        .column.one
            p.section-title Tow truck
            p.section-label If your car has lost the ability to move independently, we will promptly come to the place of breakage and our specialized tow truck will take your car from anywhere in the country at the indicated address.
                <br><br>You call the service “tow truck” - we take care of your car!
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")