.auto-classes
    .section
        .column.one
            p.section-title Особистий водій
            p.section-label Для ділової людини дуже важливо бути в зазначеному місці завжди вчасно! Для людей, які багато їздять в особистих або робочих цілях, ми пропонуємо послугу особистого водія, який буде супроводжувати вас цілий день і чекати вас в зручному місці.
                <br><br>Користуючись послугами особистого водія, переміщення по місту, відрядження, ділові зустрічі, парковка в центрі міста в будній день - перестає бути проблемою.
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
    .section
        .column.one
            p.section-title Корпоративне таксі
            p.section-label Професійне рішення ваших транспортних завдань! Пропозиція для організацій і компаній, які не мають особистого автопарку, дозволить підприємствам заощадити на логістиці і зняти з себе всі турботи, пов'язані з перевезеннями.
                <br><br>Подача таксі корпоративним клієнтам, враховуючи практично всі побажання замовника: клас автомобіля, тип перевезення, надання звітів по маршруту, часу і вартості послуги, можливість отримувати дані з GPS-модуля для перевірки маршруту та часу перебування в дорозі.
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
    .section
        .column.one
            p.section-title Авто-няня
            p.section-label Авто-няня - це особистий водій для Вашої дитини. Ми надаємо компетентну допомогу батькам у безпечному перевезенню дітей, а точніше відвозимо і привозимо дітей за вказаною адресою.
                <br><br>Дана послуга дещо відрізняється від стандартного замовлення таксі, так у функції водія входить не тільки перевіз, а й передача дитини в руки відповідальній особі, інформування батьків про те, де знаходитися дитина.
                <br><br>Особистий водій дитини зустріне його біля під'їзду / квартири і відвезе його в школу, садочок чи спортивну секцію, а після передасть батькам.
                <br><br>Ми бережемо Ваших дітей також, як і своїх власних, адже діти - це найцінніше, що у нас є!
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
    .section
        .column.one
            p.section-title Мікроавтобус
            p.section-label Для обслуговування делегацій, конференцій та інших корпоративних заходів "Еталон Таксі" має у своєму розпорядженні мікроавтобуси Mercedes, VW, Mitsubishi від 6 до 27 місць.
                <br><br>Ви можете замовити мікроавтобус у нашій компанії на будь-які випадки життя: весілля, корпоративні поїздки, екскурсії, сімейні подорожі і ін.
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
    .section
        .column.one
            p.section-title Кур’єр
            p.section-label Зручне транспортування вантажів і документів! Оперативність виклику і незмінна пунктуальність наших співробітників, дозволять Вам без затримок доставити цінний вантаж по Київу.
                <br><br>Ви можете покластися на нас у будь-якій ситуації і в транспортуванні будь-якої складності: ділових документів, подарунків та інших вантажів. Ваша посилка буде доставлена точно за адресою і в найкоротші терміни.
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
    .section
        .column.one
            p.section-title Евакуатор
            p.section-label Якщо ваш автомобіль, в наслідок різних причин, втратив здатність самостійно пересуватися, ми своєчасно приїдемо на місце і наш спеціалізований евакуатор доставить ваш автомобіль з будь-якої точки країни на зазначену Вами адресу.
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")