contacts-ru.jade.contacts
    .section
        .column.one
            .sub-column.one
                p.section-title About the placement
                p.section-label For drivers:
                p.section-text (093) 232-94-94
                p.section-label For dispatchers:
                p.section-text (093) 232-94-94
                p.section-title To order the taxi
                p.section-text (044)501-5-501 (multichannel)
                p.section-text (044) 391-3-391
                p.section-text (044) 502-54-54
                p.section-text (063) 237-54-54 (multichannel)
                p.section-text (067) 463-54-54
                p.section-text (050) 340-54-54
                p.section-text (068) 382-54-54
            .sub-column.two
                p.section-title Office
                p.section-label Our address:
                p.section-text 02160, Kyiv
                p.section-text prosp. Vossoedineniya 15,
                p.section-text off. 305
                p.section-label Telephone: 
                p.section-text (044) 502 35 00
                p.section-label Fax: 
                p.section-text (044) 55-000-66
                p.section-label e-mail:
                p.section-text taxi@etalontaxi.com.ua
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")

    ui-gmap-google-map.map(center="map.center", zoom="16")