.contacts
    .section
        .column.one
            .sub-column.one
                p.section-title По вопросам трудоустройства
                p.section-label Для водителей:
                p.section-text (093) 232-94-94
                p.section-label Для диспетчеров:
                p.section-text (093) 232-94-94
                p.section-title Для заказа такси
                p.section-text (093) 232-94-94 (многокональный)
                p.section-text (093) 232-94-94
                p.section-text (093) 232-94-94
                p.section-text (093) 232-94-94 (многокональный)
                p.section-text (093) 232-94-94
                p.section-text (093) 232-94-94
                p.section-text (093) 232-94-94
            .sub-column.two
                p.section-title Головной офис
                p.section-label Наш адрес:
                p.section-text 02160, г.Киев
                p.section-text пр-т. Воссоединения 15,
                p.section-text оф. 305
                p.section-label Телефон офиса:
                p.section-text (093) 232-94-94
                p.section-label факс
                p.section-text (093) 232-94-94
                p.section-label e-mail
                p.section-text taxi@etalontaxi.com.ua
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")

    ui-gmap-google-map.map(center="map.center", zoom="16")