.for-companies.jade.for-companies
    .section
        .column.one
            p.section-title Корпоративним клієнтам
            p.section-label «Еталон Таксі» вже давно займає одну з лідируючих позицій серед служб таксі в Києві. І це цілком заслужено: ми володіємо величезним автопарком, надаємо відмінний сервіс і широкий асортимент транспортних послуг для наших клієнтів, забезпечуємо постійний контроль якості, у нас працює професійний персонал. Наша компанія, зокрема, надає можливість замовити корпоративне таксі. Це ідеальне рішення, що дозволяє підприємствам заощадити на логістиці і зняти з себе всі турботи, пов'язані з перевезеннями.
                <br><br>Ми подаємо таксі корпоративним клієнтам, враховуючи практично всі побажання замовника: клас автомобіля, тип перевезення, надання звітів по маршруту, часу і вартості послуги, можливість отримувати дані з GPS-модуля для перевірки маршруту та часу перебування в дорозі.
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
    .they-trust
        .awards__items
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
    .services-table-wrapper
        table.services-table
            tr
                th.th(rowspan="2")
                    span Услуги
                th(colspan="3") Стоимость услуги для корпоративных клиентов
            tr
                th *Подача, грн.
                th *Тариф в городской черте
                th *Тариф за городом грн./1 км
            tr
                td Перевозка пассажиров в городе до 4 км.
                td бесплатно
                td от 32,00 грн.
                td
            tr
                td Перевозка пассажиров в городе до 4 км.
                td 17,00 если пассажир за городской чертой
                td согласно тарифной сетки
                td 5,00
