.for-companies
    .section
        .column.one
            p.section-title Почему именно мы?
            p.section-label Торговая марка «Эталон Такси» существует на рынке с сентября 2006 года и на протяжении 9 лет успешно оказывает услуги по перевозке пассажиров, при этом постоянно совершенствуясь в сфере обслуживания. Мы заботимся о безопасности своих клиентов. Поэтому все водители, принятые на работу, имеют водительский стаж от трех лет.  Более того, они постоянно проходят курсы по повышению квалификации и отличаются умением вежливо разговаривать с клиентами. Компания «Эталон Такси» имеет личный автопарк и ежедневно, перед выездом каждый автомобиль проходит технический осмотр и проверку на чистоту салона и автомобиля. Мы работаем на исправных и чистых автомобилях.
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
    .they-trust
        .awards__items
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
    .services-table-wrapper
        table.services-table
            tr
                th.th(rowspan="2")
                    span Услуги
                th(colspan="3") Стоимость услуги для корпоративных клиентов
            tr
                th *Подача, грн.
                th *Тариф в городской черте
                th *Тариф за городом грн./1 км
            tr
                td Перевозка пассажиров в городе до 4 км.
                td бесплатно
                td от 32,00 грн.
                td
            tr
                td Перевозка пассажиров в городе до 4 км.
                td 17,00 если пассажир за городской чертой
                td согласно тарифной сетки
                td 5,00
