.for-companies
    .section
        .column.one
            p.section-title FOR ENTERPRISES
            p.section-label "Etalon Taxi" has long been one of the leading positions among the taxi services in Kiev. And it's well deserved: we have a huge own fleet, providing excellent service and a wide range of transportation services to our customers, permanent quality control and professional drivers only.
                <br><br>Our company, in particular, provides the possibility to order a corporate taxi. It is an ideal solution that allows businesses to save on logistics and take off all the worries related to transportation.
                <br><br>We provide services to corporate clients, considering almost all customer requirements: Vehicle class, type of transportation, reporting on route, time and cost of service, the ability to receive data with a GPS-module to test the route and time on the road.
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
    .they-trust
        .awards__items
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
    .services-table-wrapper
        table.services-table
            tr
                th.th(rowspan="2")
                    span Услуги
                th(colspan="3") Стоимость услуги для корпоративных клиентов
            tr
                th *Подача, грн.
                th *Тариф в городской черте
                th *Тариф за городом грн./1 км
            tr
                td Перевозка пассажиров в городе до 4 км.
                td бесплатно
                td от 32,00 грн.
                td
            tr
                td Перевозка пассажиров в городе до 4 км.
                td 17,00 если пассажир за городской чертой
                td согласно тарифной сетки
                td 5,00
