.for-companies
    .section
        .column.one
            p.section-title Корпоративным клиентам
            p.section-label «Эталон Такси» уже давно занимает одну из лидирующих позиций среди служб такси в Киеве. И это вполне заслужено: мы располагаем огромным автопарком, предоставляем отличный сервис и широкий ассортимент транспортных услуг для наших клиентов, обеспечиваем постоянный контроль качества, у нас работает профессиональный персонал. Наша компания, в частности, предоставляет возможность заказать корпоративное такси. Это идеальное решение, позволяющее предприятиям сэкономить на логистике и снять с себя все заботы, связанные с перевозками.
                <br><br>Мы подаем такси корпоративным клиентам, учитывая практически все пожелания заказчика: класс автомобиля, тип перевозки, предоставление отчетов по маршруту, времени и стоимости услуги, возможность получать данные с GPS-модуля для проверки маршрута и времени пребывания в дороге.
        .column.two.illustration(style="background-image: url(/images/for-companies/for-companies.png)")
    .they-trust
        .awards__items
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
            .awards__item
                img.awards__item-img(src="/images/brend_roku.png")
                .awards__item-title БРЕНД ГОДА 2012
    .services-table-wrapper
        table.services-table
            tr
                th.th(rowspan="2")
                    span Услуги
                th(colspan="3") Стоимость услуги для корпоративных клиентов
            tr
                th *Подача, грн.
                th *Тариф в городской черте
                th *Тариф за городом грн./1 км
            tr
                td Перевозка пассажиров в городе до 4 км.
                td бесплатно
                td от 32,00 грн.
                td
            tr
                td Перевозка пассажиров в городе до 4 км.
                td 17,00 если пассажир за городской чертой
                td согласно тарифной сетки
                td 5,00
