extends ../includes/layout

block main-content
    .header
        a.login-link.yellow-link Кабинет
        .logo
        .header-title ОНЛАЙН ЗАКАЗ
        .contacts-panel
            .h1.text-yellow.light 808
            .h5.text-white с мобильных бесплатно
            .h3.text-yellow (044) 500-08-08
            .contacts-panel__hr
            .h5.text-white Укажите телефон - мы перезвоним
            .contacts-panel__number
                .contacts-panel__number-placeholder (___) ___-__-__
                .contacts-panel__send-number-btn
            p.contacts-panel__order-skype Заказ через Skype
            .contacts-panel__additional-numbers(ng-class="{expanded: isExpanded}")
                .text-yellow.h3 (044) 500-08-08
                .text-yellow.h3 (044) 500-08-08
            .contacts-panel__expand-btn(ng-class="{collapse: isExpanded}", ng-click="isExpanded = !isExpanded")
        .auto-class-panel
            .auto-class-panel__choose Выберите класс авто
            .auto-class-panel__items
                .auto-class-panel__item(ng-class="{active: autoClass == 'standard'}", ng-click="autoClass = 'standard'")
                    img(src="/images/auto-standard.png")
                    .auto-class-panel__item-title Стандарт
                .auto-class-panel__item(ng-class="{active: autoClass == 'business'}", ng-click="autoClass = 'business'")
                    img(src="/images/auto-business.png")
                    .auto-class-panel__item-title Бизнес
                .auto-class-panel__item(ng-class="{active: autoClass == 'premium'}", ng-click="autoClass = 'premium'")
                    img(src="/images/auto-premium.png")
                    .auto-class-panel__item-title Премиум
    .sidebar
        button.sidebar__order-btn Заказать такси
        .sidenav
            a.sidenav__item.sidenav__item_home.white-link.active Главная
            a.sidenav__item.sidenav__item_services.white-link Услуги
            a.sidenav__item.sidenav__item_how-to-pay.white-link Как оплатить
            a.sidenav__item.sidenav__item_for-corps.white-link Для предприятий
            a.sidenav__item.sidenav__item_pros.white-link Преимущества
            a.sidenav__item.sidenav__item_auto-classes.white-link Классы авто
            a.sidenav__item.sidenav__item_contacts.white-link Контакты
        a.sidebar__fb.white-link Наш Фейсбук
        .flags
            a.flags__ru
            a.flags__ua
            a.flags__gb
        .copyright © 2015 Эталон такси
        .payment-ways
            img.payment-ways__item(src="/images/mc.png")
            img.payment-ways__item(src="/images/visa.png")
            .payment-ways__text Оплатите поездку картой любого банка в авто или на сайте
    .main(ng-view)