extends ../includes/layout

block main-content
    .header
        a.login-link.yellow-link Кабинет
        .logo
        .header-title ОНЛАЙН ЗАКАЗ
        .contacts-panel
            .h1.text-yellow.light 808
            .h5.text-white с мобильных бесплатно
            .h3.text-yellow (044) 500-08-08
            .contacts-panel__hr
            .h5.text-white Укажите телефон - мы перезвоним
            .contacts-panel__number
                input.contacts-panel__number-placeholder(data-mask="(999) 999-99-99" placeholder="(___) ___-__-__" data-ng-model="phone")
                .contacts-panel__send-number-btn
            p.contacts-panel__order-skype Заказ через Skype
            p.h5.text-white все контакты
            .contacts-panel__additional-numbers(ng-class="{expanded: isExpanded}")
                .text-yellow.h3 (044) 500-08-08
                .text-yellow.h3 (044) 500-08-08
            .contacts-panel__expand-btn(ng-class="{collapse: isExpanded}", ng-click="isExpanded = !isExpanded")
        .auto-class-panel
            div.choose-auto(data-ng-show="chooseAutoClassAvailable")
                .auto-class-panel__choose Выберите класс авто
                .auto-class-panel__items
                    .auto-class-panel__item(ng-repeat="(key, value) in autoTypes" ng-class="{active: application.autoClass == value.type}", ng-click="application.autoClass = value.type")
                        img(data-ng-src="/images/auto-{{value.type}}.png")
                        .auto-class-panel__item-title {{value.label}}
            div.make-to-tel(data-ng-show="!chooseAutoClassAvailable")
                p.title Закажите с телефона

    .sidebar
        button.sidebar__order-btn Заказать такси
        .sidenav
            a.sidenav__item.sidenav__item_home.white-link.active(href="/") Главная
            a.sidenav__item.sidenav__item_services.white-link(href="/services") Услуги
            a.sidenav__item.sidenav__item_how-to-pay.white-link(href="/how-to-pay") Как оплатить
            a.sidenav__item.sidenav__item_for-corps.white-link(href="/for-companies") Для предприятий
            a.sidenav__item.sidenav__item_pros.white-link(href="/advantages") Преимущества
            a.sidenav__item.sidenav__item_auto-classes.white-link(href="/auto-classes") Классы авто
            a.sidenav__item.sidenav__item_contacts.white-link(href="/contacts") Контакты
        a.sidebar__fb.white-link Наш Фейсбук
        .flags
            a.flags__ru
            a.flags__ua
            a.flags__gb
        .copyright © 2015 Эталон такси
        .payment-ways
            img.payment-ways__item(src="/images/mc.png")
            img.payment-ways__item(src="/images/visa.png")
            .payment-ways__text Оплатите поездку картой любого банка в авто или на сайте
    .main(ng-view)