.h1,
.order-form__counter-digit {
  font-size: 55pt !important;
  line-height: 52pt;
}
.h2,
.header-title,
.order-form__order-btn {
  font-size: 24pt !important;
}
.h3,
.contacts-panel__number-placeholder {
  font-size: 18pt !important;
}
.h4,
.green-btn,
.auto-class-panel__choose,
.auto-class-panel__item.active img,
.auto-class-panel__item-title,
.sidebar__order-btn,
.sidenav__item,
.sidebar__fb,
.copyright,
.order-form__wherefrom-title,
.order-form__whereto-title,
.order-form-phone-title,
.order-form__cost-title,
.order-form__cost-after,
.order-form__counter-text,
.order-form__order-with-card-btn,
.pros__item,
.add-new-pint {
  font-size: 14pt !important;
}
.h5,
.login-link,
.contacts-panel__order-skype,
.order-form__without-final,
.order-form__additional-requirements-button,
.awards__item {
  font-size: 13pt !important;
}
.h6,
.input-text,
.payment-ways__text,
.order-form__wherefrom-street,
.order-form__whereto-street,
.order-form__wherefrom-house,
.order-form__whereto-house,
.order-form__additional-requirements-list,
.order-form__phone,
.order-form__corporate,
.order-form__have-a-card,
.order-form__corporate input,
.order-form__have-a-card input,
.order-form__cashless-code,
.order-form__card-code,
.order-form__payment-methods-text {
  font-size: 11pt !important;
}
.semibold {
  font-family: OSSemiBold;
}
.bold,
.header-title {
  font-family: OSBold;
}
.extrabold,
.green-btn,
.order-form__order-with-card-btn,
.add-new-pint {
  font-family: OSExtraBold;
}
.light,
.order-form__counter-digit {
  font-family: OSLight;
}
.black-link {
  color: #000 !important;
  text-decoration: none !important;
}
.black-link:hover {
  color: #000 !important;
  text-decoration: underline !important;
}
.black-link-underline {
  color: #000 !important;
  text-decoration: underline !important;
}
.black-link-underline:hover {
  color: #000 !important;
  text-decoration: none !important;
}
.yellow-link {
  color: #fce504 !important;
  text-decoration: none !important;
}
.yellow-link:hover {
  color: #fce504 !important;
  text-decoration: underline !important;
}
.yellow-link-underline {
  color: #fce504 !important;
  text-decoration: underline !important;
}
.yellow-link-underline:hover {
  color: #fce504 !important;
  text-decoration: none !important;
}
.white-link {
  color: #fff !important;
  text-decoration: none !important;
}
.white-link:hover {
  color: #fce504 !important;
  text-decoration: none !important;
}
.white-link.active {
  color: #fce504 !important;
}
.text-white,
.header-title,
.contacts-panel__order-skype,
.auto-class-panel__choose,
.payment-ways__text,
.order-form__counter-digit {
  color: #fff !important;
}
.text-black {
  color: #000 !important;
}
.text-yellow,
.contacts-panel__number-placeholder,
.copyright {
  color: #fce504 !important;
}
.text-center,
.header-title,
.contacts-panel,
.auto-class-panel__item,
.sidebar__order-btn,
.order-form__left-side-inner,
.order-form__additional-requirements-button,
.order-form__counter-digit,
.pros__item,
.awards__item {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left,
.contacts-panel__order-skype,
.order-form__additional-requirements-list {
  text-align: left;
}
.underline {
  text-decoration: underline !important;
}
[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}
.input-text,
.order-form__wherefrom-street,
.order-form__whereto-street,
.order-form__wherefrom-house,
.order-form__whereto-house,
.order-form__phone,
.order-form__cashless-code,
.order-form__card-code {
  padding: 12px 25px;
  border: 1px solid #fdc43b;
  border-radius: 3px;
  width: 100%;
}
.input-text::-webkit-input-placeholder,
.order-form__wherefrom-street::-webkit-input-placeholder,
.order-form__whereto-street::-webkit-input-placeholder,
.order-form__wherefrom-house::-webkit-input-placeholder,
.order-form__whereto-house::-webkit-input-placeholder,
.order-form__phone::-webkit-input-placeholder,
.order-form__cashless-code::-webkit-input-placeholder,
.order-form__card-code::-webkit-input-placeholder {
  color: #a5a5a5 !important;
}
.input-text:-moz-placeholder,
.order-form__wherefrom-street:-moz-placeholder,
.order-form__whereto-street:-moz-placeholder,
.order-form__wherefrom-house:-moz-placeholder,
.order-form__whereto-house:-moz-placeholder,
.order-form__phone:-moz-placeholder,
.order-form__cashless-code:-moz-placeholder,
.order-form__card-code:-moz-placeholder {
  color: #a5a5a5 !important;
}
.input-text::-moz-placeholder,
.order-form__wherefrom-street::-moz-placeholder,
.order-form__whereto-street::-moz-placeholder,
.order-form__wherefrom-house::-moz-placeholder,
.order-form__whereto-house::-moz-placeholder,
.order-form__phone::-moz-placeholder,
.order-form__cashless-code::-moz-placeholder,
.order-form__card-code::-moz-placeholder {
  color: #a5a5a5 !important;
}
.input-text:-ms-input-placeholder,
.order-form__wherefrom-street:-ms-input-placeholder,
.order-form__whereto-street:-ms-input-placeholder,
.order-form__wherefrom-house:-ms-input-placeholder,
.order-form__whereto-house:-ms-input-placeholder,
.order-form__phone:-ms-input-placeholder,
.order-form__cashless-code:-ms-input-placeholder,
.order-form__card-code:-ms-input-placeholder {
  color: #a5a5a5 !important;
}
input[type="checkbox"] {
  width: 21px;
  height: 21px;
  display: inline-block;
  background-color: #fff;
  border: none;
  -webkit-box-shadow: 0px 0px 2px 1px #fdc43b;
  -moz-box-shadow: 0px 0px 2px 1px #fdc43b;
  box-shadow: 0px 0px 2px 1px #fdc43b;
  border-radius: 2px;
  appearance: none;
  -moz-appearance: none;
/* Firefox */
  -webkit-appearance: none;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background-image: url("../images/checkbox.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.green-btn,
.order-form__order-with-card-btn,
.add-new-pint {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 3px;
  background-color: #74f44a;
  margin-top: 10px;
  display: inline-block;
}
@font-face {
  font-family: OSSemiBold;
  src: url("../fonts/OpenSans-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: OSBold;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: OSExtraBold;
  src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: OSLight;
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
}
* {
  font-family: OSSemiBold;
  outline: none;
  color: #000;
}
a,
button {
  cursor: pointer;
}
a {
  color: #000 !important;
  text-decoration: none !important;
}
a:hover {
  color: #000 !important;
  text-decoration: underline !important;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
}
label {
  cursor: pointer;
}
button {
  border: none;
}
.header {
  width: 100%;
  background-color: #000;
  background-image: url("../images/header_bg.png");
  background-size: 88%;
  min-height: 530px;
  overflow: hidden;
  background-position: -70px 0;
  position: relative;
  background-repeat: no-repeat;
}
.login-link {
  background-image: url("../images/icons/yellow/cabinet.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
  margin: 25px 0 0 40px;
}
.logo {
  position: absolute;
  left: 50%;
  margin-left: -157px;
  width: 313px;
  height: 103px;
  background-image: url("../images/logo.png");
  top: 70px;
}
.header-title {
  margin-top: 140px;
  letter-spacing: 7pt;
}
.contacts-panel {
  float: right;
  border: 1px solid #fdd602;
  margin-right: 50px;
  margin-top: -230px;
  padding: 10px 20px;
  width: 260px;
  box-sizing: border-box;
  border-radius: 3px;
}
.contacts-panel__hr {
  width: 100%;
  height: 1px;
  background: #fdd602;
  margin: 15px 0;
}
.contacts-panel__number {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.contacts-panel__number-placeholder {
  background: transparent;
  border: none;
  outline: none;
}
.contacts-panel__number-placeholder::-webkit-input-placeholder {
/* WebKit browsers */
  color: #fce504;
  opacity: 1;
}
.contacts-panel__number-placeholder:-moz-placeholder {
/* Mozilla Firefox 4 to 18 */
  color: #fce504;
  opacity: 1;
}
.contacts-panel__number-placeholder::-moz-placeholder {
/* Mozilla Firefox 19+ */
  color: #fce504;
  opacity: 1;
}
.contacts-panel__number-placeholder:-ms-input-placeholder {
/* Internet Explorer 10+ */
  color: #fce504;
  opacity: 1;
}
.contacts-panel__number-input {
  background: transparent;
  border: none;
}
.contacts-panel__send-number-btn {
  background-image: url("../images/arrow-yellow.png");
  transform: rotate(90deg);
  width: 27px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 10px;
  cursor: pointer;
}
.contacts-panel__order-skype {
  background-image: url("../images/skype.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.contacts-panel__expand-btn {
  background-image: url("../images/arrow-yellow.png");
  transform: rotate(180deg);
  width: 27px;
  height: 15px;
  cursor: pointer;
  margin: 10px auto 0 auto;
  transition: 0.5s ease-in all;
}
.contacts-panel__additional-numbers {
  margin-top: 20px;
  height: 0;
  transition: 0.5s ease-in all;
  overflow: hidden;
}
.contacts-panel__additional-numbers.expanded {
  height: 65px;
}
.contacts-panel__expand-btn.collapse {
  transform: rotate(0deg);
}
.auto-class-panel {
  border-radius: 3px 3px 0 0;
  border: 1px solid #fdd602;
  position: absolute;
  bottom: 0;
  left: 320px;
  right: 350px;
  height: 225px;
  border-bottom: 0;
}
.auto-class-panel .choose-auto {
  padding: 10px;
}
.auto-class-panel .make-to-tel {
  height: 100%;
  background: url("../images/how-to-pay/banner.png") center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.auto-class-panel .make-to-tel .title {
  line-height: 100%;
  font-size: 40px;
  background: rgba(255,255,0,0.58);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  text-transform: uppercase;
  width: 300px;
  padding-top: 66px;
  text-align: center;
}
.auto-class-panel__choose {
  background-image: url("../images/icons/white/auto-classes.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
  margin-left: 170px;
}
.auto-class-panel__items {
  margin-left: 40px;
  margin-top: 30px;
}
.auto-class-panel__item {
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 0;
  position: relative;
}
.auto-class-panel__item:before {
  background-size: contain;
  background-image: url("../images/icons/circle.png");
  background-repeat: no-repeat;
  content: '';
  width: 175px;
  height: 40px;
  display: inline-block;
  position: absolute;
  transition: 0.9s;
  bottom: 19px;
  left: -5px;
  opacity: 0;
}
.auto-class-panel__item.active:before {
  transform: rotateX(0deg);
  opacity: 1;
}
.auto-class-panel__item img {
  width: 150px;
  position: relative;
  z-index: 10;
}
.auto-class-panel__item.active img,
.auto-class-panel__item-title {
  color: #fff;
  position: relative;
  z-index: 10;
}
.auto-class-panel__item.active .auto-class-panel__item-title {
  color: #fce504;
}
.sidebar {
  background: #000;
  width: 320px;
  position: absolute;
  top: 300px;
  left: 0;
  bottom: 0;
  padding-left: 40px;
}
.sidebar__order-btn {
  background-color: #fdd602;
  border-radius: 3px;
  width: 200px;
  padding: 15px;
  transition: 1s;
}
.sidebar__order-btn:hover {
  transform: scale(1.1);
}
.sidenav {
  margin-top: 30px;
}
.sidenav__item {
  margin-top: 15px;
}
.sidenav__item_home {
  background-image: url("../images/icons/white/home.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_home:hover,
.sidenav__item_home.active {
  background-image: url("../images/icons/yellow/home.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_services {
  background-image: url("../images/icons/white/services.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_services:hover,
.sidenav__item_services.active {
  background-image: url("../images/icons/yellow/services.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_how-to-pay {
  background-image: url("../images/icons/white/how-to-pay.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_how-to-pay:hover,
.sidenav__item_how-to-pay.active {
  background-image: url("../images/icons/yellow/how-to-pay.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_for-corps {
  background-image: url("../images/icons/white/for-corps.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_for-corps:hover,
.sidenav__item_for-corps.active {
  background-image: url("../images/icons/yellow/for-corps.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_pros {
  background-image: url("../images/icons/white/pros.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_pros:hover,
.sidenav__item_pros.active {
  background-image: url("../images/icons/yellow/pros.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_auto-classes {
  background-image: url("../images/icons/white/auto-classes.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_auto-classes:hover,
.sidenav__item_auto-classes.active {
  background-image: url("../images/icons/yellow/auto-classes.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_contacts {
  background-image: url("../images/icons/white/contacts.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_contacts:hover,
.sidenav__item_contacts.active {
  background-image: url("../images/icons/yellow/contacts.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidebar__fb {
  margin-top: 20px;
  background-image: url("../images/facebook.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.flags {
  margin-top: 60px;
}
.flags__ru {
  margin-right: 20px;
  height: 30px;
  width: 43px;
  background-image: url("../images/flag_ru.png");
  -webkit-background-size: cover;
  background-size: cover;
  display: inline-block;
}
.flags__ua {
  margin-right: 20px;
  height: 30px;
  width: 43px;
  background-image: url("../images/flag_ua.png");
  -webkit-background-size: cover;
  background-size: cover;
  display: inline-block;
}
.flags__gb {
  margin-right: 20px;
  height: 30px;
  width: 43px;
  background-image: url("../images/flag_gb.png");
  -webkit-background-size: cover;
  background-size: cover;
  display: inline-block;
}
.copyright {
  margin-top: 20px;
}
.payment-ways {
  margin-top: 50px;
}
.payment-ways__item {
  margin-right: 10px;
  display: inline-block;
}
.payment-ways__text {
  margin-top: 10px;
  width: 180px;
}
.main {
  width: 100%;
  padding-left: 320px;
  box-sizing: padding-box;
}
.order-form {
  background: rgba(253,214,2,0.8);
  position: absolute;
  top: 530px;
  left: 320px;
  right: 0;
  padding: 20px;
}
.order-form__left-side {
  float: left;
  width: 100%;
  margin-right: -500px;
  padding-right: 250px;
}
.order-form__left-side-inner {
  width: 90%;
  margin: 0 5%;
}
.order-form__wherefrom-title,
.order-form__whereto-title {
  background-image: url("../images/icons/black/cabinet.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
  display: inline-block;
}
.order-form__wherefrom-inputs,
.order-form__whereto-inputs {
  display: block;
  width: 100%;
  margin: 10px 0 15px 0;
}
.order-form__wherefrom-street,
.order-form__whereto-street {
  border-right: 0;
  border-radius: 3px 0 0 3px;
  width: 75%;
}
.order-form__wherefrom-house,
.order-form__whereto-house {
  border-radius: 0 3px 3px 0;
  width: 25%;
}
.order-form__without-final {
  margin-top: 30px;
}
.order-form__without-final input {
  margin: 0 10px -3px 0;
}
.order-form__additional-requirements {
  margin-top: 20px;
  position: relative;
}
.order-form__additional-requirements-button {
  width: 100%;
  border: 1px solid #fff;
  padding: 15px;
  border-radius: 3px;
  position: relative;
  background-color: #fffc00;
}
.order-form__additional-requirements-button:after {
  content: '';
  background-image: url("../images/triangle-black.png");
  background-repeat: no-repeat;
  width: 17px;
  height: 9px;
  position: absolute;
  top: 50%;
  margin-top: -4.5px;
  right: 100px;
  transition: 0.3s ease-in;
}
.order-form__additional-requirements-button.expanded:after {
  content: '';
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.order-form__additional-requirements-list {
  position: absolute;
  background: #fff;
  left: 0;
  right: -1px;
  top: 50px;
  transition: 0.3s ease-in;
  height: 0;
  overflow: hidden;
  padding: 0 20px;
  border-radius: 0 0 3px 3px;
}
.order-form__additional-requirements-list.expanded {
  height: 345px;
  padding: 20px;
}
.order-form__additional-requrement {
  margin-top: 20px;
}
.order-form__additional-requrement input {
  margin: 0 10px -4px 0;
}
.order-form-phone-title {
  background-image: url("../images/icons/black/cabinet.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
  display: inline-block;
  margin-top: 20px;
}
.order-form__phone-container {
  display: block;
  width: 100%;
  margin-top: 10px;
}
.order-form__right-side {
  float: right;
  width: 250px;
}
.order-form__cost-title {
  background-image: url("../images/icons/black/cabinet.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
  display: inline-block;
}
.order-form__cost-after {
  margin-top: 20px;
  width: 60%;
}
.order-form__counter {
  margin-top: 20px;
  margin-bottom: 10px;
}
.order-form__counter-digit {
  display: inline-block;
  background-image: url("../images/counter-num.png");
  width: 46px;
  height: 74px;
  margin-right: 10px;
}
.order-form__counter-text {
  display: inline-block;
}
.order-form__corporate,
.order-form__have-a-card {
  margin-top: 10px;
}
.order-form__corporate input,
.order-form__have-a-card input {
  margin: 0 10px -3px 0;
}
.order-form__cashless-code,
.order-form__card-code {
  width: 80%;
  margin-top: 10px;
}
.order-form__order-btn {
  padding: 10px 15px;
  background-image: url("../images/button.png");
  margin-top: 20px;
  width: 254px;
  height: 64px;
}
.order-form__order-with-card-btn {
  width: 254px;
}
.order-form__payment-methods {
  margin-top: 15px;
}
.order-form__payment-methods-img {
  display: inline-block;
  margin-right: 10px;
  float: left;
  margin-top: 5px;
}
.order-form__payment-methods-text {
  display: inline-block;
  width: 50%;
  float: left;
}
.map .angular-google-map-container {
  width: 100%;
  height: 760px;
  overflow: hidden;
}
.pros {
  padding: 40px 50px;
}
.pros__items {
  margin: 40px 0 0 40px;
  overflow: hidden;
}
.pros__item-img {
  width: 150px;
  display: inline-block;
}
.pros__item {
  margin-right: 40px;
  background-position: top center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 160px;
  float: left;
}
.they-trust {
  background-color: #fedd3a;
  padding: 50px;
}
.they-trust__imgs {
  margin-top: 60px;
}
.they-trust__img {
  margin-left: 60px;
}
.awards {
  padding: 50px;
  overflow: hidden;
}
.awards__items {
  margin-top: 50px;
  margin-left: 30px;
  overflow: hidden;
}
.awards__item {
  display: inline-block;
  width: 200px;
  float: left;
}
.awards__item-img {
  width: 115px;
  margin: 0 auto;
  display: block;
}
.awards__item-title {
  margin-top: 20px;
}
.add-new-pint {
  width: 40px;
  line-height: 18px;
  transition: 0.5s;
  opacity: 1;
}
.add-new-pint:hover {
  text-decoration: none !important;
}
.add-new-pint[disabled] {
  opacity: 0.5;
}
.to-point {
  box-sizing: border-box;
}
.to-point.ng-move,
.to-point.ng-enter,
.to-point.ng-leave {
  transition: all linear 0.5s;
}
.to-point.ng-leave.ng-leave-active,
.to-point.ng-move,
.to-point.ng-enter {
  opacity: 0;
  max-height: 0;
}
.to-point.ng-leave,
.to-point.ng-move.ng-move-active,
.to-point.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 500px;
}
.section {
  width: 100%;
  display: table;
  font-size: 0;
}
.section .column {
  display: table-cell;
}
.section .column.one {
  padding: 30px 50px 50px;
}
.section .column.one .sub-column {
  display: inline-block;
}
.section .column.one .sub-column.one {
  width: 60%;
}
.section .column.one .sub-column.two {
  padding-left: 40px;
  width: 40%;
  vertical-align: top;
}
.section .column.two {
  width: 350px;
}
.section .illustration {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.section .illustration.auto {
  background-size: contain;
}
.section .illustration.auto.yellow {
  background-color: #fbff6e;
}
.section .section-title {
  margin: 40px 0 25px;
  font-size: 20px;
  font-family: OSSemiBold;
  text-transform: uppercase;
}
.section .section-label {
  font-size: 15px;
  font-family: OSSemiBold;
  margin: 10px 0 0;
  line-height: 1.7;
}
.section .section-text {
  font-family: OSLight;
  font-size: 15px;
  margin: 3px 0 0;
}
.services-table-wrapper {
  padding: 60px 40px;
}
.services-table {
  width: 100%;
  box-sizing: border-box;
}
.services-table th,
.services-table td {
  border: 1px solid rgba(255,0,0,0.5);
  padding: 20px 20px;
  text-align: center;
}
.services-table th {
  font-size: 15px;
}
.services-table td {
  font-family: OSLight;
}
.services-table td:first-child {
  text-align: left;
}
.white-link-underline {
  color: #fff !important;
  text-decoration: underline !important;
}
.white-link-underline:hover {
  color: #fff !important;
  text-decoration: none !important;
}
.h1 {
  text-transform: uppercase;
}
