@import vars

@font-face {
  font-family: OSSemiBold;
  src: url('/static/fonts/OpenSans-Semibold.ttf') format("truetype");
}
@font-face {
  font-family: OSBold;
  src: url('/static/fonts/OpenSans-Bold.ttf') format("truetype");
}
@font-face {
  font-family: OSExtraBold;
  src: url('/static/fonts/OpenSans-ExtraBold.ttf') format("truetype");
}
@font-face {
  font-family: OSLight;
  src: url('/static/fonts/OpenSans-Light.ttf') format("truetype");
}

*
  font-family: OSSemiBold
  outline none
  color #000000

a, button
  cursor: pointer

a
  color black !important
  text-decoration none !important

a:hover
  color black !important
  text-decoration: underline !important

html
  height: 100%
body
  min-height: 100%
  position: relative

label
  cursor: pointer

button
  border: none

//-----HEADER-----

.header
  width: 100%
  background-color #000000
  background-image: url("/static/images/header_bg.png")
  background-size 88%
  min-height 530px
  overflow: hidden
  background-position -70px 0
  position: relative
  background-repeat no-repeat

.login-link
  @extend .h5
  icon-bg('/static/images/icons/yellow/cabinet.png')
  margin 25px 0 0 40px

.logo
  position: absolute
  left 50%
  margin-left -157px
  width: 313px
  height: 103px
  background-image: url("/static/images/logo.png")
  top: 70px

.header-title
  @extend .h2
  @extend .bold
  @extend .text-center
  @extend .text-white
  //margin-top: 140px
  margin-top: 200px
  letter-spacing 7pt

//-----CONTACTS-----

.contacts-panel
  @extend .text-center
  float: right
  border 1px solid hotyellow
  margin-right: 50px
  margin-top: -230px
  padding 10px 20px
  width: 260px
  box-sizing border-box
  border-radius 3px

.contacts-panel__hr
  width: 100%
  height: 1px
  background: hotyellow;
  margin: 15px 0

.contacts-panel__number
  position: relative
  width: 100%
  overflow: hidden

.contacts-panel__number-placeholder
  @extend .h3
  @extend .text-yellow
  background transparent
  border none
  outline none

  &::-webkit-input-placeholder { /* WebKit browsers */
    color yellow
    opacity 1
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color yellow
    opacity 1
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color yellow
    opacity 1
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    color yellow
    opacity 1
  }

.contacts-panel__number-input
  background: transparent
  border none

.contacts-panel__send-number-btn
  background-image: url("/static/images/arrow-yellow.png")
  transform rotate(90deg)
  width: 27px
  height: 15px
  position: absolute
  right 0
  top 10px
  cursor: pointer

.contacts-panel__order-skype
  @extend .text-white
  @extend .h5
  @extend .text-left
  icon-bg('/static/images/skype.png')

.contacts-panel__expand-btn
  background-image: url("/static/images/arrow-yellow.png")
  transform rotate(180deg)
  width: 27px
  height: 15px
  cursor: pointer
  margin: 10px auto 0 auto
  transition 0.5s ease-in all

.contacts-panel__additional-numbers
  margin-top: 20px
  height: 0
  transition 0.5s ease-in all
  overflow: hidden

.contacts-panel__additional-numbers.expanded
  height 65px

.contacts-panel__expand-btn.collapse
  transform rotate(0deg)

//-----AUTOCLASS-----

.auto-class-panel
  border-radius 3px 3px 0 0
  border 1px solid hotyellow
  position: absolute
  bottom 0
  left 320px
  right 350px
  height: 225px
  border-bottom 0

  .choose-auto
    padding: 10px

  .make-to-tel
    height 100%
    background url(/static/images/how-to-pay/banner.png) center
    background-size cover
    background-repeat no-repeat
    position relative

    .title
      line-height 100%
      font-size 40px
      background rgba(255, 255, 0, 0.58)
      position absolute
      top 0
      bottom 0
      right 0
      margin 0
      text-transform: uppercase;
      width 300px
      padding-top: 66px;
      text-align center

  .search-auto
    .title
      color: #fff
      text-align center
      font-size 14pt

.auto-class-panel__choose
  @extend .h4
  @extend .text-white
  text-align center

.auto-class-panel__items
  margin-left: 40px
  margin-top: 30px

.auto-class-panel__item
  @extend .text-center
  display: inline-block
  cursor: pointer
  margin-top: 0
  position relative
  width auto !important
  height auto !important
  background transparent !important
  margin 0 20px 0 0 !important
  box-shadow none !important

  &:before
    background-size: contain;
    background-image url(/static/images/icons/circle.png)
    background-repeat no-repeat
    content ''
    width 175px
    height 40px
    display inline-block
    position absolute
    transition: .9s;
    bottom 19px
    left -5px
    opacity 0

  &.active
    &:before
      transform: rotateX(0deg);
      opacity 1

.auto-class-panel__item img
  width: 150px
  position relative
  z-index 10

.auto-class-panel__item.active img

.auto-class-panel__item-title
  @extend .h4
  color white
  position relative
  z-index 10

.auto-class-panel__item.active .auto-class-panel__item-title
  color yellow
//-----SIDEBAR-----

.sidebar
  background: #000
  width: 320px
  position: absolute
  top: 300px
  left: 0
  bottom: 0
  padding-left: 40px

.header-title
  @extend .h4
  @extend .text-center
  font-size: 24pt !important;

.sidebar__order-btn
  background-color: hotyellow
  border-radius 3px
  width: 200px
  padding 15px
  transition 1s
  display inline-block
  text-align center

  &:hover
    transform scale(1.1)

.sidenav
  margin-top: 30px

.sidenav__item
  @extend .h4
  margin-top: 15px

for itemname in 'home' 'services' 'how-to-pay' 'for-corps' 'pros' 'auto-classes' 'contacts' {
  .sidenav__item_{itemname} {
    icon-bg('/static/images/icons/white/' + itemname + '.png');
  }
  .sidenav__item_{itemname}:hover, .sidenav__item_{itemname}.active {
    icon-bg('/static/images/icons/yellow/' + itemname + '.png')
  }
}

.sidebar__fb
  @extend .h4
  margin-top: 20px
  icon-bg('/static/images/facebook.png')

.flags
  margin-top: 60px

for flagname in 'ru' 'ua' 'gb' {
  .flags__{flagname} {
    url = '/static/images/flag_' + flagname + '.png'
    margin-right: 20px
    height: 30px
    width: 43px
    background-image: url(url);
    -webkit-background-size: cover
    background-size: cover
    display: inline-block
  }
}

.copyright
  @extend .h4
  @extend .text-yellow
  margin-top: 20px

.payment-ways
  margin-top: 50px

.payment-ways__item
  margin-right: 10px
  display: inline-block

.payment-ways__text
  @extend .h6
  @extend .text-white
  margin-top: 10px
  width: 180px


//-----MAIN-----

.main
  width: 100%
  padding-left 320px
  box-sizing padding-box

//-----ORDER-FORM-----

.order-form
  background: rgba(hotyellow, 0.8)
  position: absolute
  top: 530px
  left: 320px
  right: 0
  padding: 20px

.order-form__left-side
  float: left
  width: 100%
  margin-right: -500px
  padding-right: 250px

.order-form__left-side-inner
  @extend .text-center
  width: 90%
  margin: 0 5%

.order-form__wherefrom-title, .order-form__whereto-title
  @extend .h4
  display: inline-block

.order-form__wherefrom-title
  icon-bg('/static/images/icons/point-a.png');
  display: inline-block

.order-form__whereto-title
  icon-bg('/static/images/icons/point-b.png');
  display: inline-block

.order-form__wherefrom-inputs, .order-form__whereto-inputs
  display: block
  width: 100%
  margin: 10px 0 15px 0

.order-form__wherefrom-street, .order-form__whereto-street
  @extend .input-text
  border-right: 0
  border-radius 3px 0 0 3px
  width: 75%
  
.order-form__wherefrom-house, .order-form__whereto-house
  @extend .input-text
  border-radius 0 3px 3px 0
  width: 25%

.order-form__without-final
  margin-top 30px
  @extend .h5

.order-form__without-final input
  margin 0 10px -3px 0

.order-form__additional-requirements
  margin-top: 20px
  position: relative

.order-form__additional-requirements-button
  @extend .h5
  @extend .text-center
  width: 100%
  border: 1px solid white
  padding: 15px
  border-radius 3px
  position: relative
  background-color: brightyellow

.order-form__additional-requirements-button:after
  content ''
  background-image: url("/static/images/triangle-black.png")
  background-repeat no-repeat
  width: 17px
  height: 9px
  position: absolute
  top: 50%
  margin-top: -4.5px
  right: 100px
  transition 0.3s ease-in

.order-form__additional-requirements-button.expanded:after
  content ''
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

.order-form__additional-requirements-list
  @extend .text-left
  @extend .h6
  position: absolute
  background: white
  left 0
  right: -1px
  top: 50px
  transition 0.3s ease-in
  height: 0
  overflow: hidden
  padding: 0 20px
  border-radius 0 0 3px 3px

.order-form__additional-requirements-list.expanded
  height: 345px
  padding: 20px

.order-form__additional-requrement
  margin-top: 20px

.order-form__additional-requrement input
  margin 0 10px -4px 0

.order-form-phone-title
  @extend .h4
  icon-bg('/static/images/icons/black/cabinet.png');
  display: inline-block
  margin-top: 20px

.order-form__phone-container
  display: block
  width: 100%
  margin-top: 10px

.order-form__phone
  @extend .input-text

.order-form__right-side
  float: right
  width: 250px

.order-form__cost-title
  @extend .h4
  display: inline-block

.order-form__cost-after
  @extend .h4
  margin-top: 20px
  width: 60%

.order-form__counter
  margin-top: 20px
  margin-bottom: 10px

.order-form__counter-digit
  @extend .h1
  @extend .light
  @extend .text-white
  @extend .text-center
  display: inline-block
  background-image: url("/static/images/counter-num.png")
  width: 46px
  height: 74px
  margin-right: 10px
  vertical-align top

.order-form__counter-text
  @extend .h4
  display: inline-block
  vertical-align bottom

.order-form__corporate, .order-form__have-a-card
  @extend .h6
  margin-top: 10px

.order-form__corporate input, .order-form__have-a-card input
  @extend .h6
  margin 0 10px -3px 0

.order-form__cashless-code, .order-form__card-code
  @extend .input-text
  width: 80%
  margin-top: 10px

.order-form__order-btn
  @extend .h2
  padding 10px 15px
  background-image: url("/static/images/button.png")
  margin-top: 20px
  width: 254px
  height: 64px


.order-form__order-with-card-btn
  @extend .green-btn
  width: 254px

.order-form__payment-methods
  margin-top: 15px

.order-form__payment-methods-img
  display: inline-block
  margin-right: 10px
  float: left
  margin-top: 5px

.order-form__payment-methods-text
  @extend .h6
  display: inline-block
  width: 50%
  float: left

//-----MAP-----
.map .angular-google-map-container
  width: 100%
  height: 760px
  overflow: hidden

//-----PROS-----
.pros
  padding 40px 50px

.pros__items
  margin: 40px 0 0 40px
  overflow: hidden

.pros__item-img
  width 150px
  display inline-block

.pros__item
  @extend .h4
  @extend .text-center
  margin-right: 40px
  //background-image: url("/images/icons/yellow/car-big.png")
  background-position: top center
  background-repeat: no-repeat
  //padding-top: 100px
  display: inline-block
  width: 160px
  float: left

//-----THEYTRUST-----
.they-trust
  background-color: paleyellow
  padding 50px

.they-trust__imgs
  margin-top 70px

.they-trust__img
  margin-left: 60px
  max-width: 180px;
  max-height: 100px;

//-----AWARDS-----
.awards
  padding 50px
  overflow: hidden

.awards__items
  margin-top: 50px
  margin-left: 30px
  overflow hidden

  &.no-padd-top
    margin-top 0

.awards__item
  @extend .h5
  @extend .text-center
  display: inline-block
  width: 33%
  float: left

.awards__item-img
  width: 180px
  margin: 0 auto
  display: block

.awards__item-title
  margin-top: 20px

.add-new-pint
  @extend .green-btn
  width 40px
  line-height 18px
  transition .5s
  opacity 1

  &:hover
    text-decoration none !important

  &[disabled]
    opacity .5

.to-point
  box-sizing:border-box;

  &.ng-move,
  &.ng-enter,
  &.ng-leave {
    transition:all linear 0.5s;
  }
  
  &.ng-leave.ng-leave-active,
  &.ng-move,
  &.ng-enter {
    opacity:0;
    max-height:0;
  }
  
  &.ng-leave,
  &.ng-move.ng-move-active,
  &.ng-enter.ng-enter-active {
    opacity:1;
    max-height:500px;
  }

.section
  width 100%
  display table
  font-size 0
  .column
    display table-cell
    &.one
      padding 30px 50px 50px
      .sub-column
        display inline-block
        &.one
          width 60%
        &.two
          padding-left 40px
          width 40%
          vertical-align: top;
    &.two
      width 350px

  .illustration
    background-repeat no-repeat
    background-size cover
    background-position center

    &.auto
      background-size contain

      &.yellow
        background-color #FBFF6E

  .section-title
    margin 40px 0 25px
    font-size 20px
    font-family OSSemiBold
    text-transform uppercase
  .section-label
    font-size 15px
    font-family OSSemiBold
    margin: 10px 0 0;
    line-height 1.7
  .section-text
    font-family OSLight
    font-size 15px
    margin: 3px 0 0;


.services-table-wrapper
  padding 60px 40px

.services-table
  width 100%
  box-sizing border-box

  th, td
    border 1px solid borderyellow
    padding 20px 20px
    text-align center

  th
    font-size 15px

  td
    &:first-child
      text-align left

.white-link-underline
  color: #fff !important;
  text-decoration: underline !important;

.white-link-underline:hover
  color: #fff !important;
  text-decoration: none !important;

.h1
  text-transform uppercase

.svg-loader-wrapper
  text-align center
  padding 0 0 30px

  .svg-loader
    height 50px

.svg-loader-wrapper + .order-form__order-btn
  margin 0 auto
  display block

.loader-overlay
  background rgba(hotyellow, 0.5)
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  z-index 100

.parameters-auto
  padding 0 60px

  .title
    color: #fff;
    text-align: center;
    font-size: 14pt;

  .table
    font-size 0

    .cell
      display table-cell
      width 50%
      vertical-align top

      .img-wrapper
        position relative

      img
        &.auto
          width: 200px;

        &.bred
          width: 85px;
          position: absolute;
          top: -5px;
          right: 66px;

        &.number
          width: 200px;

      .number-text
        position absolute
        bottom: 0px;
        left: 29px;
        font-size 22pt

      .order-info
        .item
          margin-top 20px

          &:first-child
            margin-top 0

          .info-label,
          .info-value
            font-size 14pt
            color: #fff

          .info-value
            color: yellow

.order-result
  margin-top 20px

  .two-dotted
    margin-right 10px
    font-size 35pt

.points-labels
  font-size 14pt

  > span
    width 100px

  .minutes
    display inline-block
    text-align center

  .seconds
    margin-left 35px
    display inline-block
    text-align center

.thank-title
  font-size: 65pt

.login
  .section-label
    text-align left

  .order-form__additional-requirements-button
    &:after
      display none


.input
  padding: 12px 25px;
  border: 1px solid #fdc43b;
  border-radius: 3px;
  width: 100%;
  font-size: 11pt !important;