.h1 {
  font-size: 55pt !important;
  line-height: 52pt;
}
.h2,
.header-title {
  font-size: 24pt !important;
}
.h3,
.contacts-panel__number-placeholder {
  font-size: 18pt !important;
}
.h4,
.auto-class-panel__choose,
.auto-class-panel__item-title,
.sidebar__order-btn,
.sidenav__item,
.sidebar__fb,
.copyright,
.pros__item {
  font-size: 14pt !important;
}
.h5,
.login-link,
.contacts-panel__order-skype,
.awards__item {
  font-size: 13pt !important;
}
.h6,
.payment-ways__text {
  font-size: 12pt !important;
}
.semibold {
  font-family: OSSemiBold;
}
.bold,
.header-title {
  font-family: OSBold;
}
.light {
  font-family: OSLight;
}
.black-link {
  color: #000 !important;
  text-decoration: none !important;
}
.black-link:hover {
  color: #000 !important;
  text-decoration: underline !important;
}
.black-link-underline {
  color: #000 !important;
  text-decoration: underline !important;
}
.black-link-underline:hover {
  color: #000 !important;
  text-decoration: none !important;
}
.yellow-link {
  color: #fce504 !important;
  text-decoration: none !important;
}
.yellow-link:hover {
  color: #fce504 !important;
  text-decoration: underline !important;
}
.yellow-link-underline {
  color: #fce504 !important;
  text-decoration: underline !important;
}
.yellow-link-underline:hover {
  color: #fce504 !important;
  text-decoration: none !important;
}
.white-link {
  color: #fff !important;
  text-decoration: none !important;
}
.white-link:hover {
  color: #fce504 !important;
  text-decoration: none !important;
}
.white-link.active {
  color: #fce504 !important;
}
.text-white,
.header-title,
.contacts-panel__order-skype,
.auto-class-panel__choose,
.payment-ways__text {
  color: #fff !important;
}
.text-black {
  color: #000 !important;
}
.text-yellow,
.contacts-panel__number-placeholder,
.copyright {
  color: #fce504 !important;
}
.text-center,
.header-title,
.contacts-panel,
.auto-class-panel__item,
.sidebar__order-btn,
.pros__item,
.awards__item {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left,
.contacts-panel__order-skype {
  text-align: left;
}
.underline {
  text-decoration: underline !important;
}
[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}
@font-face {
  font-family: OSSemiBold;
  src: url("../fonts/OpenSans-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: OSBold;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: OSLight;
  src: url("../fonts/OpenSans-Light.ttf") format("truetype");
}
* {
  font-family: OSSemiBold;
  outline: none;
  color: #000;
}
a,
button {
  cursor: pointer !important;
}
a {
  color: #000 !important;
  text-decoration: none !important;
}
a:hover {
  color: #000 !important;
  text-decoration: underline !important;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  position: relative;
}
label {
  cursor: pointer;
}
button {
  border: none;
}
.header {
  width: 100%;
  background-color: #000;
  background-image: url("../images/header_bg.png");
  background-size: cover;
  min-height: 500px;
  overflow: hidden;
  background-position: top;
  position: relative;
}
.login-link {
  background-image: url("../images/icons/yellow/cabinet.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
  margin: 25px 0 0 40px;
}
.logo {
  position: absolute;
  left: 50%;
  margin-left: -157px;
  width: 313px;
  height: 103px;
  background-image: url("../images/logo.png");
  top: 70px;
}
.header-title {
  margin-top: 140px;
  letter-spacing: 7pt;
}
.contacts-panel {
  float: right;
  border: 5px solid #fdd602;
  margin-right: 50px;
  margin-top: -230px;
  padding: 10px 20px;
  width: 260px;
  box-sizing: border-box;
  border-radius: 3px;
}
.contacts-panel__hr {
  width: 100%;
  height: 5px;
  background: #fdd602;
  margin: 15px 0;
}
.contacts-panel__number {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.contacts-panel__number-input {
  background: transparent;
  border: none;
}
.contacts-panel__send-number-btn {
  background-image: url("../images/arrow-yellow.png");
  transform: rotate(90deg);
  width: 27px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 10px;
  cursor: pointer;
}
.contacts-panel__order-skype {
  background-image: url("../images/skype.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.contacts-panel__expand-btn {
  background-image: url("../images/arrow-yellow.png");
  transform: rotate(180deg);
  width: 27px;
  height: 15px;
  cursor: pointer;
  margin: 10px auto 0 auto;
  transition: 0.5s ease-in all;
}
.contacts-panel__additional-numbers {
  margin-top: 20px;
  height: 0;
  transition: 0.5s ease-in all;
  overflow: hidden;
}
.contacts-panel__additional-numbers.expanded {
  height: 65px;
}
.contacts-panel__expand-btn.collapse {
  transform: rotate(0deg);
}
.auto-class-panel {
  border-radius: 3px 3px 0 0;
  border: 5px solid #fdd602;
  position: absolute;
  bottom: 0;
  left: 320px;
  padding: 10px;
  width: 600px;
  height: 225px;
  border-bottom: 0;
}
.auto-class-panel__choose {
  background-image: url("../images/icons/white/auto-classes.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
  margin-left: 170px;
}
.auto-class-panel__items {
  margin-left: 40px;
  margin-top: 30px;
}
.auto-class-panel__item {
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
  margin-top: 0;
}
.auto-class-panel__item img {
  width: 150px;
  opacity: 0.9;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.auto-class-panel__item.active img {
  opacity: 1;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.auto-class-panel__item-title {
  color: #fff;
}
.auto-class-panel__item.active .auto-class-panel__item-title {
  color: #fce504;
}
.sidebar {
  background: #000;
  width: 320px;
  position: absolute;
  top: 300px;
  left: 0;
  bottom: 0;
  padding-left: 40px;
}
.sidebar__order-btn {
  background-color: #fdd602;
  border-radius: 3px;
  width: 200px;
  padding: 15px;
}
.sidenav {
  margin-top: 30px;
}
.sidenav__item {
  margin-top: 15px;
}
.sidenav__item_home {
  background-image: url("../images/icons/white/home.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_home:hover,
.sidenav__item_home.active {
  background-image: url("../images/icons/yellow/home.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_services {
  background-image: url("../images/icons/white/services.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_services:hover,
.sidenav__item_services.active {
  background-image: url("../images/icons/yellow/services.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_how-to-pay {
  background-image: url("../images/icons/white/how-to-pay.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_how-to-pay:hover,
.sidenav__item_how-to-pay.active {
  background-image: url("../images/icons/yellow/how-to-pay.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_for-corps {
  background-image: url("../images/icons/white/for-corps.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_for-corps:hover,
.sidenav__item_for-corps.active {
  background-image: url("../images/icons/yellow/for-corps.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_pros {
  background-image: url("../images/icons/white/pros.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_pros:hover,
.sidenav__item_pros.active {
  background-image: url("../images/icons/yellow/pros.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_auto-classes {
  background-image: url("../images/icons/white/auto-classes.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_auto-classes:hover,
.sidenav__item_auto-classes.active {
  background-image: url("../images/icons/yellow/auto-classes.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_contacts {
  background-image: url("../images/icons/white/contacts.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidenav__item_contacts:hover,
.sidenav__item_contacts.active {
  background-image: url("../images/icons/yellow/contacts.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.sidebar__fb {
  margin-top: 20px;
  background-image: url("../images/facebook.png");
  background-size: 32px;
  background-repeat: no-repeat;
  padding: 5px 0 5px 45px;
  display: block;
}
.flags {
  margin-top: 60px;
}
.flags__ru {
  margin-right: 20px;
  height: 30px;
  width: 43px;
  background-image: url("../images/flag_ru.png");
  -webkit-background-size: cover;
  background-size: cover;
  display: inline-block;
}
.flags__ua {
  margin-right: 20px;
  height: 30px;
  width: 43px;
  background-image: url("../images/flag_ua.png");
  -webkit-background-size: cover;
  background-size: cover;
  display: inline-block;
}
.flags__gb {
  margin-right: 20px;
  height: 30px;
  width: 43px;
  background-image: url("../images/flag_gb.png");
  -webkit-background-size: cover;
  background-size: cover;
  display: inline-block;
}
.copyright {
  margin-top: 20px;
}
.payment-ways {
  margin-top: 50px;
}
.payment-ways__item {
  margin-right: 10px;
  display: inline-block;
}
.payment-ways__text {
  margin-top: 10px;
  width: 180px;
}
.main {
  width: 100%;
  padding-left: 320px;
  box-sizing: padding-box;
}
.map {
  width: 100%;
  background: #bc8f8f;
  height: 760px;
}
.pros {
  padding: 40px 50px;
}
.pros__items {
  margin: 40px 0 0 40px;
  overflow: hidden;
}
.pros__item {
  margin-right: 40px;
  background-image: url("/images/icons/yellow/car-big.png");
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 90px;
  display: inline-block;
  width: 160px;
  float: left;
}
.they-trust {
  background-color: #fedd3a;
  padding: 50px;
}
.they-trust__imgs {
  margin-top: 60px;
}
.they-trust__img {
  margin-left: 60px;
}
.awards {
  padding: 50px;
  overflow: hidden;
}
.awards__items {
  margin-top: 50px;
  margin-left: 30px;
}
.awards__item {
  display: inline-block;
  width: 200px;
  float: left;
}
.awards__item-img {
  width: 115px;
  margin: 0 auto;
  display: block;
}
.awards__item-title {
  margin-top: 20px;
}
