baseiconpath = "../images/icons/";

hotyellow = #fdd602
yellow = #fce504
brightyellow = #fffc00
paleyellow = #fedd3a
borderyellow = #fdc43b
gray = #a5a5a5
green = #74f44a

.h1
  font-size: 55pt !important
  line-height 52pt
.h2
  font-size: 24pt !important
.h3
  font-size: 18pt !important
.h4
  font-size: 14pt !important
.h5
  font-size: 13pt !important
.h6
  font-size: 11pt !important

.semibold
  font-family OSSemiBold
.bold
  font-family OSBold
.extrabold
  font-family OSExtraBold
.light
  font-family OSLight

.black-link
  color black !important
  text-decoration none !important

.black-link:hover
  color black !important
  text-decoration underline !important

.black-link-underline
  color black !important
  text-decoration underline !important

.black-link-underline:hover
  color black !important
  text-decoration none !important

.yellow-link
  color yellow !important
  text-decoration none !important

.yellow-link:hover
  color yellow !important
  text-decoration underline !important

.yellow-link-underline
  color yellow !important
  text-decoration underline !important

.yellow-link-underline:hover
  color yellow !important
  text-decoration none !important

.white-link
  color white !important
  text-decoration none !important

.white-link:hover
  color yellow !important
  text-decoration none !important

.white-link.active
  color yellow !important

.text-white
  color white !important
.text-black
  color black !important
.text-yellow
  color yellow !important

.text-center
  text-align: center
.text-right
  text-align: right
.text-left
  text-align: left

.underline
  text-decoration underline !important

icon-bg(url)
  background-image url(url)
  background-size 32px
  background-repeat no-repeat
  padding 5px 0 5px 45px
  display: block

placeholder-color(color)
  &::-webkit-input-placeholder
    color color !important
  &:-moz-placeholder  /* Firefox 18- */
    color color !important
  &::-moz-placeholder  /* Firefox 19+ */
    color color !important
  &:-ms-input-placeholder
    color color !important

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}

.input-text
  @extend .h6
  placeholder-color(gray)
  padding 12px 25px
  border 1px solid borderyellow
  border-radius 3px
  width: 100%

input[type="checkbox"]
  width: 21px
  height: 21px
  display: inline-block
  background-color: white
  border none
  -webkit-box-shadow: 0px 0px 2px 1px rgba(borderyellow, 1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(borderyellow, 1);
  box-shadow: 0px 0px 2px 1px rgba(borderyellow, 1);
  border-radius 2px
  appearance:none;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none;
  cursor: pointer

input[type="checkbox"]:checked
  background-image: url("../images/checkbox.png")
  background-repeat no-repeat
  background-position center center