baseiconpath = "../images/icons/";

hotyellow = #fdd602
yellow = #fce504
brightyellow = #fffc00
paleyellow = #fedd3a

.h1
  font-size: 55pt !important
  line-height 52pt
.h2
  font-size: 24pt !important
.h3
  font-size: 18pt !important
.h4
  font-size: 14pt !important
.h5
  font-size: 13pt !important
.h6
  font-size: 12pt !important

.semibold
  font-family OSSemiBold
.bold
  font-family OSBold
.light
  font-family OSLight

.yellow-link
  color yellow !important
  text-decoration none !important

.yellow-link:hover
  color yellow !important
  text-decoration underline !important

.white-link
  color white !important
  text-decoration none !important

.white-link:hover
  color yellow !important
  text-decoration none !important

.white-link.active
  color yellow !important

.text-white
  color white !important
.text-black
  color black !important
.text-yellow
  color yellow !important

.text-center
  text-align: center
.text-right
  text-align: right
.text-left
  text-align: left

.underline
  text-decoration underline !important

icon-bg(url)
  background-image url(url)
  background-size 32px
  background-repeat no-repeat
  padding 5px 0 5px 45px
  display: block

placeholder-color(color)
  &::-webkit-input-placeholder
    color color !important
  &:-moz-placeholder  /* Firefox 18- */
    color color !important
  &::-moz-placeholder  /* Firefox 19+ */
    color color !important
  &:-ms-input-placeholder
    color color !important