doctype
html(ng-app="app", ng-controller="etGlobalCtrl")
    head
        title Etalon Taxi
        link(href="/static/images/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(href="/static/styles/cabinet.css", rel="stylesheet")
        link(href="/static/vendor/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    body
        block main-content
        include cabinet-scripts