doctype
html(ng-app="app", ng-controller="etGlobalCtrl")
    head
        title Etalon Taxi
        link(href="/images/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(href="/styles/site.css", rel="stylesheet")
        link(href="/vendor/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    body
        block main-content
        include scripts