script(type="text/javascript", src="/static/vendor/jquery/dist/jquery.min.js")
script(type="text/javascript", src="/static/vendor/lodash/dist/lodash.js")
script(type="text/javascript", src="/static/vendor/angular/angular.min.js")
script(type="text/javascript", src="/static/vendor/angular-resource/angular-resource.min.js")
script(type="text/javascript", src="/static/vendor/angular-route/angular-route.min.js")
script(type="text/javascript", src="/static/vendor/angular-animate/angular-animate.min.js")
script(type="text/javascript", src="/static/vendor/angular-sanitize/angular-sanitize.min.js")
script(type="text/javascript", src="/static/vendor/angular-google-maps/dist/angular-google-maps.js")
script(type="text/javascript", src="/static/vendor/jquery-maskedinput/jquery-maskedinput.min.js")
script(type="text/javascript", src="/static/vendor/angular-jquery-maskedinput/angular-jquery-maskedinput.js")
script(type="text/javascript", src="/static/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js")


script(type="text/javascript", src="/static/app/app.js")
script(type="text/javascript", src="/static/app/common/etGlobalCtrl.js")
script(type="text/javascript", src="/static/app/main/etMainCtrl.js")
script(type="text/javascript", src="/static/app/contacts/etContactsCtrl.js")
script(type="text/javascript", src="/static/app/for-companies/etForCompaniesCtrl.js")
script(type="text/javascript", src="/static/app/how-to-pay/etHowToPayCtrl.js")
script(type="text/javascript", src="/static/app/auto-classes/etAutoClassesCtrl.js")
script(type="text/javascript", src="/static/app/advantages/etAdvantagesCtrl.js")
script(type="text/javascript", src="/static/app/services/etServicesCtrl.js")

script(type="text/javascript", src="/static/app/common/services/sendPhone.js")
script(type="text/javascript", src="/static/app/common/services/soapApi.js")