.how-to-pay
    .section
        .column.one
            p.section-title Готівка
            p.section-label Оплата готівкою здійснюється безпосередньо водієві, після надання послуг. Цей метод оплати підходить для тих, хто не користується електронними грошима / у кого немає кредитної картки.
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
.section
    .column.one
        p.section-title Безготівий платіж
        p.section-label Ми надаємо можливість замовлення таксі по «безналу». Додаються всі звітні документи на будь-яку суму (рахунок, акт, податкова накладна).
    .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
.section
    .column.one
        p.section-title Банківською картою
        p.section-label До оплати приймаються банківські картки типу Visa і MasterCard безпосередньо в автомобілі (за попереднім запитом).
    .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
