.how-to-pay
    .section
        .column.one
            p.section-title Cash
            p.section-label Cash payment is made directly to the driver after the service provision. This payment method is suitable for those who prefer do not use electronic money/ do not have a credit card.
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
.section
    .column.one
        p.section-title Cashless
        p.section-label We offer an opportunity to order a taxi by "bank transfer." In this case all reporting documents for any amount are attached (invoice, acceptance certificate, tax bill).
    .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
.section
    .column.one
        p.section-title Credit card
        p.section-label We accept credit cards such as Visa and MasterCard on the board of our cars (upon prior request).
    .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
