.how-to-pay
    .section
        .column.one
            p.section-title Наличными
            p.section-label Этот способ оплаты подойдет для тех у кого нет банковской карты.
        .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
.section
    .column.one
        p.section-title Безналичный платеж
        p.section-label Мы предоставляем возможность заказа такси по «безналу». Прилагаются все отчетные документы на любую сумму (счет, акт, налоговая накладная).
    .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
.section
    .column.one
        p.section-title Банковской картой
        p.section-label К оплате принимаются банковские карты типа Visa и MasterCard.
    .column.two.illustration(style="background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image2.jpg)")
