.how-to-pay
    .section
        .column.one
            p.section-title Наличными
            p.section-label Оплата наличными производится непосредственно водителю, после предоставления услуг. Этот метод оплаты подходит для тех, кто предпочитает не использовать электронные деньги / у кого нет кредитной карточки.
        .column.two.illustration(style="background-image: url(/images/how-to-pay/grivna.png)")
.section
    .column.one
        p.section-title Безналичный платеж
        p.section-label Мы предоставляем возможность заказа такси по «безналу». Прилагаются все отчетные документы на любую сумму (счет, акт, налоговая накладная).
    .column.two.illustration(style="background-image: url(/images/how-to-pay/pencil.jpg)")
.section
    .column.one
        p.section-title Банковской картой
        p.section-label К оплате принимаются банковские карты типа Visa и MasterCard (по предварительному запросу).
    .column.two.illustration(style="background-image: url(/images/how-to-pay/cards.jpg)")
