.map
    .h1 hello world
.pros
    .h1.light ПРЕИМУЩЕСТВА
    .pros__items
        .pros__item 100% СВОЙ современный автопарк
            br
            a.yellow-link-underline смотреть фото
        .pros__item Наши водители НЕ КУРЯТ
        .pros__item Наши водители НЕ ЗНАЮТ ПЛОХИХ СЛОВ
        .pros__item
            a.black-link-underline ЕЖЕДНЕВНАЯ химчистка автомобилей
.they-trust
    .h1.light НАМ ДОВЕРЯЮТ
    .they-trust__imgs
        img.they-trust__img(src="/images/kyivstar.png")
        img.they-trust__img(src="/images/mts.png")
        img.they-trust__img(src="/images/kyivstar.png")
        img.they-trust__img(src="/images/mts.png")
.awards
    .h1.light НАГРАДЫ
    .awards__items
        .awards__item
            img.awards__item-img(src="/images/brend_roku.png")
            .awards__item-title БРЕНД ГОДА 2012
        .awards__item
            img.awards__item-img(src="/images/brend_roku.png")
            .awards__item-title ПРЕМИЯ
                br
                span «ТРАНСПОРТНЫЙ ОЛИМП»
        .awards__item
            img.awards__item-img(src="/images/brend_roku.png")
            .awards__item-title  ПОБЕДИТЕЛЬ РЕЙТИНГА
                br
                span «ЗОЛОТАЯ ФОРТУНА»
        .awards__item
            img.awards__item-img(src="/images/brend_roku.png")
            .awards__item-title
                a.black-link-underline ГРАН-ПРИ
                    br
                    span «ВЫСШАЯ ПРОБА»